{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Watch{% endblock %}

{% block body_block %}

    <div class="title"><h1>タイトル</h1></div>

    <div class="container">
        <div class="col-xs-1"></div>
        <div class="subtitle col-xs-3">
            <h3>人気動画</h3>
        </div>
    </div>

    <div class="container">
        {% if popvids %}
            <div class="col-xs-1"></div>
            {% for pop in popvids %}
                <div class="col-xs-2 center-block">
                    <div class="thumbnail"><a href="{% url 'watchVid'  pop.video_id %}"><img src="{{ pop.thumb }}"></a></div>
                    <div class="vidname"><a href="{% url 'watchVid'  pop.video_id %}">{{ pop.name }}</a></div>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no videos</p>
        {% endif %}
    </div>

    <!--<div class="container">-->
        <!--{% if popvids %}-->
            <!--{% for pop in popvids %}-->
                <!--<div class="col-xs-2 vidname"><a href="{% url 'watchVid'  pop.video_id %}">{{ pop.name }}</a></div>-->
            <!--{% endfor %}-->
        <!--{% endif %}-->
    <!--</div>-->

    <div class="container">
        <div class="col-xs-1"></div>
        <div class="subtitle col-xs-3">
            <h3>新着動画</h3>
        </div>
    </div>

    <div class="container">
        {% if newvids %}
            <div class="col-xs-1"></div>
            {% for new in newvids %}
                <div class="col-xs-2">
                    <div class="thumbnail"><a href="{% url 'watchVid'  new.video_id %}"><img src="{{ new.thumb }}"></a></div>
                    <div class="vidname"><a href="{% url 'watchVid'  new.video_id %}">{{ new.name }}</a></div>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no videos</p>
        {% endif %}
    </div>

    <!--<div class="container">-->
        <!--{% if newvids %}-->
            <!--{% for new in newvids %}-->
                <!--<div class="col-xs-2 vidname"><a href="{% url 'watchVid'  new.video_id %}">{{ new.name }}</a></div>-->
            <!--{% endfor %}-->
        <!--{% endif %}-->
    <!--</div>-->

{% endblock %}